<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=fmall</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">niit</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/fmall/pojo/PromotionStrategy.hbm.xml"/>
    <mapping resource="com/fmall/pojo/Forder.hbm.xml"/>
    <mapping resource="com/fmall/pojo/OrderItem.hbm.xml"/>
    <mapping resource="com/fmall/pojo/Fuser.hbm.xml"/>
    <mapping resource="com/fmall/pojo/Product.hbm.xml"/>
    <mapping resource="com/fmall/pojo/Cart.hbm.xml"/>
    <mapping resource="com/fmall/pojo/PromotionStrategyItem.hbm.xml"/>
    <mapping resource="com/fmall/pojo/Categeory.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
